<div class="container">
    <div class="row">
        <div style="margin-top: 5%;" class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bar Chart</h5>
                    <p class="card-text">Reliance vs Airtel Stock Performance [2014 - 2020].</p>
                    <a href="bar-chart" class="btn btn-primary">Click to view</a>
                </div>
            </div>
        </div>
        <div style="margin-top: 5%;" class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pie Chart</h5>
                    <p class="card-text">Zee Limited Revenue previous 4 years (Crores).</p>
                    <a href="pie-chart" class="btn btn-primary">Click to view</a>
                </div>
            </div>
        </div>
    </div>
</div>
